@model PizzaBoxClient.Models.IntHolderView

@{
    ViewData["Title"] = "SelectNumCustomPizza";
}

<h1>Select Number of pizzas</h1>
@if (ViewBag.PresetTotalError != null)
{
    <label class="text-danger">
        @ViewBag.PresetTotalError
    </label>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostCustomOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="numPizzas" class="control-label"></label>
                <input asp-for="numPizzas" class="form-control" />
                <span asp-validation-for="numPizzas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
