@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the PizzaBox</h1>
    <p> <a asp-controller="Store" asp-action="Index">View Stores</a></p>
    <p> <a asp-controller="Customer" asp-action="Index">View Customers</a></p>
</div>
